.site-logo {
  background-image: url("/assets/images/rune-hunter-logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 3.5rem;
  width: 18rem;
}